.book-form {
  padding: 1.5rem;
  background-color: #fff;
  color: #151116;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.book-form__message {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  color: #a480a9;
}

.book-form__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 400px;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  border: none;
}

.book-form__title {
  margin: 0 0 1rem 0;
  grid-column: 1 / 3;
  text-align: center;
  font-size: 2rem;
  color: #a480a9;
}
.book-form__subtitle {
  margin: 0 0 1rem 0;
  grid-column: 1 / 3;
  text-align: center;
  color: #3b2d3d;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

.book-form__label {
  grid-column: 1 / 2;
  margin-right: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  color: #3b2d3d;
}

.book-form__input {
  grid-column: 2 / 3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  color: #3b2d3d;
}

.book-form__submit {
  margin: 1rem 0 0 0;
  padding: 0.3rem;
  grid-column: 1 / 3;
  justify-self: center;
  font-size: 1em;
  color: white;
  background-color: #a480a9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}
